@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-alt: rgb(243, 252, 255);
  --background-color: rgb(243, 252, 255);
  --post-color: rgb(243, 252, 255);
  --alt-color: rgb(220, 246, 255);
  --accent-color: rgb(0, 21, 81);
  --accent-light: rgba(0, 21, 81, .15)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--accent-color);
  background-color: var(--background-color);
}

nav {
  background: var(--background-alt);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
